.slider {
    width: 100%;
    height: 88vh;
    boxSizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    z-index: -3;
    overflow: hidden;
}

.slide {
    position:relative;
    min-width: 100%;
    height: 100%;
    margin: 0;
    transition: 0.7s;
    z-index: -3;
    overflow: hidden;
}

.slideImg {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

%btn-styles{
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     width: 150px;
     height: 100%;
     background: none;
     border: none;
     outline: none;
     transition: 0.5s;
     &:hover {
        background: rgba(0, 0, 0, 0.356);
        cursor: pointer;
        i{
            color: whitesmoke;
        }
     }
 }

.goLeft {
    left: 125px;
    @extend %btn-styles;
}

.goRight{
    right: 0px;
    @extend %btn-styles;
}

