.Left-border {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    min-height: 100vh;
    background-color: #C12026;
    z-index: -2;
}

.Center-border {
    position: absolute;
    left: 100px;
    top: 0px;
    width: 25px;
    min-height: 100vh;
    background-color: black;
    z-index: -2;
}

.Outside-pokeball-dot {
    position: absolute;
    left: 50px;
    top: 280px;
    height: 125px;
    width: 125px;
    background-color: black;
    border-radius: 50%;
}

.Inside-pokeball-dot {
    position: absolute;
    left: 75px;
    top: 305px;
    height: 75px;
    width: 75px;
    background-color: white;
    border-radius: 50%;
}