
.tableaboutus {
    marginLeft: 200px;
    marginTop: 70px;
    marginRight: 100px;
}

#titleContent {
    margin-top: 12vh;
    margin-left: 20%;
    padding-top: 50px;
    text-align: left;
    width: auto;
}

/* used for positioning main content of element within fixed background */
#mainContent {
    margin-top: 12vh;
    margin-left: 125px;
    padding-top: 50px;
    padding-left: 13%;
    padding-right: 13%;
    text-align: left;
    width: auto;
}

#mainContentv2 {
    background-color: #999999;
    color: #ffffff;
    text-align: left;

    margin-top: 5vh;
    margin-left: 20%;
    margin-right: 10%;

    width: auto;
}

#infoContent {
    margin-top: 12vh;
    margin-left: 125px;
    padding-top: 4%;
    padding-left: 9%;
    padding-right: 9%;
    font-family: dido;
    text-align: left;
    width: auto;
    height: 100%;
}
