
.tableaboutus {
    marginLeft: 200px;
    marginTop: 70px;
    marginRight: 100px;
}

/* used for positioning main content of element within fixed background */
#mainContent {
    margin-top: 12vh;
    margin-left: 125px;
    padding-top: 50px;
    padding-left: 14%;
    padding-right: 14%;
    text-align: left;
    width: auto;
}

#infoContent {
    margin-top: 12vh;
    margin-left: 125px;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    width: auto;

}
